In [1]:
# "ali"
# "veli"
# "deli"

In [2]:
a = "ali"

In [5]:
x=''

x

''

In [6]:
l=5
l

5

In [7]:
or = "alivelideli"
or

SyntaxError: invalid syntax (1131115079.py, line 1)

In [9]:
if_or_else = 54
54

54

In [10]:
class_ = "ali"
class_

'ali'

In [11]:
_al?=43
_al?

SyntaxError: invalid syntax (3964141489.py, line 1)

In [12]:
students = 45
s=students
s

45

In [13]:
math_score = 95
x = math_score
x

95

In [15]:
planet = 'jupyter'
price = 140
print('planet'+'price')

planetprice

In [16]:
price*3

420

In [17]:
price//3

46

In [20]:
x =y =z= "same"
print(x)
print(y)
print(z)

same
same
same

In [25]:
a = b = c = 'ali'
print(a)

ali

In [30]:
a = january = march = may = july = august = october = december = 31
b = february = 28
c = april = june = september = novemver = 30
print('january, march, may, july, august, october, december',a)
print('february',b)
print('april, june, september, novemver',c)

january, march, may, july, august, october, december 31
february 28
april, june, september, novemver 30

In [32]:
january = march = may = july = august = october = december = 31
february = 28
april = june = september = november = 30

print(january, february, march, april, may, june ,july, august, september, october, november, december)

31 28 31 30 31 30 31 31 30 31 30 31

In [35]:
a = 34
b = 43
c = None
d = 61

In [36]:
rgt = 'erdem'
print(rgt)

erdem

In [38]:
a = 11
b = 22
c = 44

a = 33
b = 55
c = a
print(a,b,c)

33 55 33

In [41]:
a,b,c = 2,3,'Hello'
print(a)
print(b)
print(c)

2
3
Hello

In [42]:
type("alivelideli")

str

In [50]:
type(43)
type(0.61)
type(True)

bool

In [44]:
type(0.61)

float

In [45]:
type(True)

bool

In [46]:
type("ali, veli, deli")

str

In [47]:
type(a)

int

In [51]:
print(str,str)

<class 'str'> <class 'str'>

In [52]:
10.5

10.5

In [53]:
type(10.5)

float

In [58]:
10==10.0

True

In [62]:
str(45)

'45'

In [64]:
int(65)

65

In [65]:
float(43)

43.0

In [66]:
float(erdem)

NameError: name 'erdem' is not defined

In [68]:
int(10)

10

In [70]:
a = int('11')
type(a)

int

In [71]:
int('onbir')

ValueError: invalid literal for int() with base 10: 'onbir'

In [73]:
float('10.5')

10.5

In [75]:
print('clarusway'+'way')

claruswayway

In [76]:
'clarusway'+'way'

'claruswayway'

In [77]:
'33'+'11'

'3311'

In [79]:
'33' + 11 # str ile int birlesmez toplanmaz

TypeError: can only concatenate str (not "int") to str

In [81]:
pi = 3.14
r = 5

area = pi*r**2

area

78.5

In [82]:
11//2

5

In [83]:
10//2

5

In [84]:
print('11-7')

11-7

In [85]:
print('4'+4)

TypeError: can only concatenate str (not "int") to str

In [87]:
number_int = 123
number_flt = 1.23

number_new = number_int + number_flt

print("datatype of number_int:", type(number_int))
print("datatype of number_flt:", type(number_flt))

print("Value of number_new:", number_new)
print("datatype of number_new:", type(number_new))

datatype of number_int: <class 'int'>
datatype of number_flt: <class 'float'>
Value of number_new: 124.23
datatype of number_new: <class 'float'>

In [90]:
number_int = 123
number_str = '1123'


print("datatype of number_int:", type(number_int))
print("datatype of number_str:", type(number_str))

print(number_int + number_str)

datatype of number_int: <class 'int'>
datatype of number_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [92]:
x = int("456")
x+12

468

In [93]:
print(int("5" + "1"))
print(str("5" + "1"))
print("5" + "1")

51
51
51

In [94]:
int("5" + "1")
print(str("5" + "1"))
print("5" + "1")

51
51

In [95]:
print('%.5s' % x) if x = "HelloWorld!"

SyntaxError: invalid syntax (1740794466.py, line 1)

In [96]:
    input("enter a number")

enter a number10

'10'

In [97]:
input("enter a number: ")

enter a number: 32

'32'

In [99]:
type(input("enter a number: "))

enter a number: 64

str

In [100]:
input("enter a message")

enter a messageerd

'erd'

In [101]:
type(input("enter a message"))

enter a messagepo

str

In [103]:
num = input("enter a number")
type(num)

enter a number34

str