In [1]:
num = input("enter a number: ")
type(num)

enter a number: 34

str

In [2]:
num+num

'3434'

In [3]:
num1 = input("enter a number1: ")
num2 = input("enter a number2: ")
num3 = input("enter a number3: ")

enter a number1: 3
enter a number2: 4
enter a number3: 5

In [13]:
num11 = int(num1)
num22 = int(num2)
num33 = int(num3)

In [14]:
num11*num22*num33

60

In [15]:
num1 = int(input("enter a number1: "))
num2 = int(input("enter a number2: "))
num3 = int(input("enter a number3: "))

enter a number1: 3
enter a number2: 4
enter a number3: 5

In [24]:
X = num1*num2*num3
print(X)

60

In [17]:
num1+num2+num3

12

In [18]:
num1-num2-num3

-6

In [19]:
print(num1*num2*num3)

60

In [22]:
print("the multiplication of num1, num2, num3 is equal to: ", X)

the multiplication of num1, num2, num3 is equal to:  60

In [ ]:
# Body mass index = Weight/Height^2

Weight = int(input("enter a number1"))
Height = int(float(input("enter a number2")))

Body = Weight/Height^2

In [27]:
type(Weight)

int

In [30]:
type(Height)

int

In [ ]:
Weight = int(input("enter a number1: "))
Height = int(float(input("enter a number2: ")))

Body = Weight/Height**2

In [ ]:
x=false
type(x)